In [ ]:
BUCLES O CICLOS: FOR = CUANDO CONOZCO LA CANTIDAD DE DATOS QUE VOY A RECORRER
UN RANGE = ES UNA FUNCIÓN QUE CREA UN RANGO DE CERO HASTA EL NUMERO QUE ESTA ENTRE PARENTESIS

In [ ]:
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

FOR PORQUE CONOZCO EL VECTOR QUE VOY A RECORER

In [ ]:
vector = [1,2,3,4,5,6,7,8,9]
for x in vector:
    print("numero", x)

numero 1
numero 2
numero 3
numero 4
numero 5
numero 6
numero 7
numero 8
numero 9

WHILE CUANDO NO CONOZCO LA CANTIDAD DE NUMEROS QUE VOY A RECORRER

In [ ]:
num = 0
while num < 5:
  print(num)
  num= num + 1

0
1
2
3
4

CONDICIONALES

In [ ]:
num= int(input("Ingrese el numero a evaluar "))
tipo= num%2
if tipo == 0:
  print("El numero es PAR")
else:
   print("El numero es IMPAR")

Ingrese el numero a evaluar3
El numero es IMPAR

In [ ]:
num= int(input("Ingrese el numero a evaluar "))
if num < 0:
  print("El numero es NEGATIVO")
elif num == 0:
  print("El numero es CERO")
else:
   print("El numero es POSITIVO")

Ingrese el numero a evaluar 2
El numero es POSITIVO

EJERCICIOS PARTE 1

In [ ]:
var_horas= float(input("cuantas horas tienes trabajas?"))
var_valor= float(input("valor de la hora trabajada?"))
valor_total = var_horas * var_valor
print(valor_total)

cuantas horas tienes trabajas?5
valor de la hora trabajada?4000
20000.0

In [ ]:
peso = float(input("Escriba su peso en Kg"))
estatura = float(input("escriba su estatura en mt"))
masacorporal = peso/(estatura**2)
print(masacorporal)

Escriba su peso en Kg75
escriba su estatura en mt1.60
29.296874999999993

In [ ]:
barrasnodia = float(input("cuantas barras que no son del día se vendieron"))
valor_barra = 450
print("la barra del día tiene un precio de $ 450, las que tienen un 50% de descuento son ", barrasnodia)
print ("el costo final de esas", barrasnodia, "fue de $", (barrasnodia*valor_barra)/2)

cuantas barras que no son del día se vendieron50
la barra del día tiene un precio de $450, las que tienen un 50% de descuento son  50.0
el costo final de esas 50.0 fue de $ 11250.0

LISTAS VAN ENTRE []

In [ ]:
lista1 = [1,2,3,4,5]
lista2 = [6,7,8,9,10]

print(lista1)
print(lista2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
for x in lista1:
  print(x)

1
2
3
4
5

In [ ]:
for x in range(5):
  total =lista1[x]+lista2[x]
  print(lista1[x], "+", lista2[x], "=",total)

lista3 = lista1 + lista2
print(lista3)

lista4 = lista3
# se agrega un valor al final
lista4.append(0)
# se agregan varios valores a la vez
lista4.extend([1,-2])
# elimina el primer uno encontrado y es necesario hacerlo por cada repetido si es el caso
lista4.remove(1)
lista4.remove(1)
print(lista4)

1 + 6 = 7
2 + 7 = 9
3 + 8 = 11
4 + 9 = 13
5 + 10 = 15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 0, -2]

TUPLAS: COLECCIONES INMUTABLES ES DECIR NO ALTERABLES EN TIEMPOS DE EJECUCION

In [ ]:
# inmutable es que no se puede modificar
mi_tupla = (2, "hola")
print(mi_tupla)

mi_tupla2 = tuple(lista4)
print(mi_tupla2)

(2, 'hola')
(2, 3, 4, 5, 6, 7, 8, 9, 10, 0, -2)

CONJUNTOS

In [ ]:
con1 = set([8,1,2,3,4])
con2 = set([5,6,7,2])
print(con1)
print(con2)
# imprime solo los comunes entre los conjuntos
con3 = con1.intersection(con2)
print("numero que esta repetido en las dos listas", con3)
# imprime todo entre los conjuntos
con4 = con1.union(con2)
print("numero de las dos listas, el las organiza de menor a mayor", con4)

{1, 2, 3, 4, 8}
{2, 5, 6, 7}
numero que esta repetido en las dos listas {2}
numero de las dos listas, el las organiza de menor a mayor {1, 2, 3, 4, 5, 6, 7, 8}

EJERCICIO 2: almacene x cantidad de números

In [ ]:
numlist = int(input("escriba cuantos numeros va a crear en la lista = "))
# guardamos el valor de la cantidad de numeros que van en la lista como son enteros es int
listnum = []
# pide los valores de cada objeto de la lista
contador = 0

while contador < numlist:
  num = int(input("escriba el numero de la lista = "))
  # usar append para agregarlos al final de la lista uno a uno
  listnum.append(num)
  contador = contador + 1

print(listnum)

contador2 = 0
for x in listnum:
  contador2 = contador2 + x

print("la suma total es ", contador2)

#utilizo la funcion para listar los numeros en orden reverso y la imprimo
listnum.reverse()
print(listnum)

print("al réves es igual ", contador2)

escriba cuantos numeros va a crear en la lista = 3
escriba numero = 4
escriba numero = 5
escriba numero = 6
[4, 5, 6]
la suma total es  15
[6, 5, 4]
al reves es igual  15

In [ ]:
igual, aux = 0, 0
texto = input("ingrese la palabra para evaluar ")

for x in reversed(range(0, len(texto))):
  if texto[x].lower() == texto[aux].lower():
    igual += 1
  aux += 1

if len(texto) == igual:
  print(texto, " :SI es PALINDROMO")
else:
  print(texto, " :NO es PALINDROMO")

ingrese la palabra para evaluar OJO
OJO  :SI es PALINDROMO

la suma, la mediana y la desviacion ok

In [ ]:
numlist = int(input("escriba cuantos numeros va a crear en la lista = "))
listnum = []
contador = 0

while contador < numlist:
  num = int(input("escriba numero = "))
  listnum.append(num)
  contador = contador + 1

print(listnum)

#la suma
contador2 = 0
for x in listnum:
  contador2 = contador2 + x

# La mediana
n = len(listnum)
mediana = contador2/numlist

print("la suma es ", contador2)

print("la mediana es", mediana)

escriba cuantos numeros va a crear en la lista = 3
escriba numero = 1
escriba numero = 2
escriba numero = 3
[1, 2, 3]
la suma es  6
la mediana es 2.0

In [ ]:
#Desviación estandar
import statistics

print("la desviacion estandar es ", statistics.pstdev(listnum))

la desviacion estandar es  0.816496580927726

DICCIONARIO

In [ ]:
PERSONA1 = {"nombre": "michael", "edad": "47"}
print(PERSONA1["nombre"])
print(PERSONA1["edad"])

michael
47

DICCIONARIO DE FRUTAS

In [ ]:
FRUTA1 = {"nombre": "BANANO", "kilo": "1500"}

X= input("escriba la fruta que desea ")

if (X in FRUTA1.values() != None):
    print ("la fruta SI esta DISPONIBLE")
    kilosVenta = int(input("cuantos kilos desea comprar "))
    valor= int(FRUTA1["kilo"])
    valorVenta = (kilosVenta*valor)
    print("el valor de", kilosVenta, "KILOS de", X, "es de $",valorVenta)

else:
    DISPONIBLES = FRUTA1["nombre"]+", " +FRUTA2["nombre"]+", " + FRUTA3["nombre"]
    print ("la fruta no esta DISPONIBLE, tenemos", DISPONIBLES)

escriba la fruta que desea BANANO
la fruta SI esta DISPONIBLE
cuantos kilos desea comprar 2
el valor de 2 KILOS de BANANO es de $ 3000

FUNCIONES LLAMADAS DESDE PHYTON

In [ ]:
def dividir(num1, num2):
  total = num1/num2
  print(total)

In [ ]:
n1 = float(input("valor 1 es: "))
n2 = float(input("valor 2 es: "))
print("llamado normal")
dividir(n1,n2)
print("llamado por nombre de parametros")
dividir(num2=2, num1=n1)
print("invertir parametros")
dividir(n2, n1)

valor 1 es: 6
valor 2 es: 3
llamado normal
2.0
llamado por nombre de parametros
3.0
invertir parametros
0.5

FUNCION SUMA

In [ ]:
def suma(*valores):
    total = 0
    for x in valores:
      total = total + x
      print("total", total)

In [ ]:
suma(1)
suma(1,2)
suma(4,100,2)

total 1
total 1
total 3
total 4
total 104
total 106

ARCHIVOS O FICHEROS: ABRIR Y CERARLOS FUNCION WITH

In [ ]:
num= range(1,2)
f = open("mi texto.txt", "w")
# w se anexa con a se agrega
for n in num:
  f.write(str(n)+ "\n")
f.write("mitch")
f.close()

In [ ]:
with open("mi texto.txt","r") as reader:
  lineas = reader.readlines()
  for l in lineas:
    print(l)

1

mitch

FACTORIAL = guarda en archivo

In [ ]:
file = open("mifact.txt", "w")
num = int(input("ingrese numero: "))
file.write('num= % s'%num)
file.close()
def factorial(x):
  if x == 1:
    return 1;
  else:
    return x * factorial (x-1)

fac = factorial(num)

print("factorial de", num, "es", fac)

NUMPY MATRIZ

In [6]:
import numpy as np

In [7]:
lista = [1,2,3,4,5,6,7]
arreglo = np.array(lista)

print (lista)
print (arreglo)

[1, 2, 3, 4, 5, 6, 7]
[1 2 3 4 5 6 7]